body{
    color:aliceblue;
}
section{
    text-align:center;
}
img {
    display: block;
    max-width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;

}
.flex > div{
    flex: 1 1 200px;
    margin: 15px;
}

.flex2{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.flex2 > div{
    flex: 1 1;
    margin: 10px;
}

.titulo{
    font-family: Baskerville Bold;
}
.subtitulo{
    font-family: AppleMyungjo;
}

footer {
    margin-top: 50px;
    text-align:center;
}

.bloco{
    background-color:rgb(232, 226, 226);
    text-align: left;
    color: black;
    margin: 10px 10%;
    border-radius: 6px;

}

.vtitulo{
    padding-left: 15px;
    padding-top: 10px;
    font-family: Baskerville Bold;
}
.vtexto{
    padding: 0px 10px 0px 10px;
    font-family: Helvetica;
    font-size: 40px;
    text-align: justify;
}
blockquote{
    font-family: Alegreya;
    background-color: rgb(33,37,41);
    margin: 0px;
    height: 30px;
    
}
.borda{
    margin: 10px;
}
